<div class="notice"><%= flash[:notice] %></div>
<%= render 'books/list', book: @book, user: @user %>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th><p>Title</p></th>
      <th><p>Opinion</p></th>
    </tr>
  </thead>
  <tbody>
   <% @books.each do |book| %>
  <tr>
    <td><p><%= link_to book.title, book_path(book.id) %></p></td>
    <td><p><%= book.body %></p></td>
  </tr>
   <% end %>
  </tbody>
</table>
