<h1>welcome to Bookers!!</h1>
<p>In Bookers</p><br>
<p>you can share and exchange your opinions , inpressions , and emotons about various books!</p>

<P><%= link_to"Log in", user_session_path %></P>
<p><%= link_to"Sing up", new_user_registration_path %></p>